// styling of the Blog page

// header background image
.blogHeader {
    background-image: url(../../assets/blog-1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

// styling of the top portion of the blog post (up to an including the first para.)
.blogContainer {
    padding-top: 5%;
    > p {
        text-transform: uppercase;
            em {
                font-style: normal;
                font-weight: bold;
            }
    }

    // styling of the author row
    .blogAuthorContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
        .blogAuthor {
            display: flex;
        }
            img {
                border-radius: 50%;
            }
            p {
                margin-left: 20px;
                text-transform: uppercase;
                font-weight: bold;
            }
            span {
                display: block;
                text-transform: none;
                font-weight: normal;
        }   
    }

    // styling of the blog details (ie. date, etc.)
    .blogDetails {
        display: flex;
    }

    // styling of the blog writing
    .blogPost {
    text-align: justify;
        em {
            font-style: normal;
            font-weight: bold;
}
}
}

// styling of the social media icons
.socialContainer {
    h4 {
        text-transform: uppercase;
    }
    display: flex;
        .socialMedia {
            width: 15%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
                li {
                    transition: background 0.3s;
                    i:hover,
                    i:focus {
                        background-color: $lightSage;
                        padding: 5px;
                }
                }       
        }
}

// styling of the related posts
.posts {
    h3 {
        border-bottom: 1px solid grey;
        padding-bottom: 20px;
    }

    .postsContainer {
        display: flex;
        justify-content: space-between;
    }

    .relatedPost {
        display: flex;
        flex-direction: column;
        width: calc(33% - 30px);
    }
}

// styling of the comments section
.commentContainer,
.addedComments {
    display: flex;
    margin-bottom: 20px;
        img {
            height: 75%;
        }
        .comment,
        .newComment {
            width: 100%;
            margin-left: 3%;
            background-color: $whiteTwo;
            position: relative;
                p {
                    padding-left: 20px;
                }
                p:nth-child(2) {
                    text-transform: uppercase;
                    font-weight: bold;
                        span {
                            font-style: italic;
                            font-weight: normal;
                        };
                }
                i {
                    position: absolute;
                    color: $whiteTwo;
                    top: 5px;
                    left: -6px;
                }
        }
        
}

.addedComments {
        display: block;
            .newComment {
                p:first-of-type {
                    text-transform: uppercase;
                    font-weight: bold;
                }
                p:nth-child(2) {
                    text-transform: none;
                    font-weight: normal;
                }
            }
        }

// styling of the leave a comment section
.leaveComment {
    h3 {
        padding-top: 50px;
        border-bottom: 1px solid grey;
    }

}