.contactUsHeading {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    height: 20vh;
    background-image: url(./../../assets/contact-1.jpeg);
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

h2 span {
    display: block;
}