.contactForm {
        padding-bottom: 20px;
        input {
            border-bottom: 1px solid grey;
            width: calc(33% - 10px);
            padding-top: 30px;

        }

        input:nth-of-type(1),
        input:nth-of-type(2) {
            margin-right: 15px;
        }

        textarea {
            resize: none;
            width: 100%;
            border-bottom: 1px solid grey;
            margin-top: 20px;
        }

        button {
            text-transform: uppercase;
            background-color: $white;
            border: none;
            border-bottom: 1px solid grey;
            padding-top: 20px;
            transition: background 0.3s;
                &:hover,
                &:focus {
                    background-color: $lightSage;
                }
        }

}