
@media (max-width: 1350px) {
    // adding a transparant layer to the index.html features section
    .features {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../../assets/home-4.jpeg)
    }
}

@media (max-width: 1100px) {
    // change to the index.html features section
    .features {
        .featuresContainer {
            margin-left: 20%
        }
    }
}
@media (max-width: 940px) {
    .indexHeader ul,
    .indexNav ul,
    .blogNav ul {
        display: block;
    }
    .icon {
        display: inline-block;
        margin-left: 10px;
    }

}

@media (max-width: 900px) {
    // changes to the format of the grid for the team players section
    .ourTeam.wrapper {

        .teamContainer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
            .teamPlayers {
                grid-column: 1 / span 3;
                grid-row: row;
            }
            .imgA {
                grid-column: 1;
                grid-row: row 2;
            }
            
            .imgB {
                grid-column: 2;
                grid-row: row 2;
            }

            .imgC {
                grid-column: 3;
                grid-row: row 2;
            }

            .imgD {
                grid-column: 1;
                grid-row: row 3;
            }

            .imgE {
                grid-column: 2;
                grid-row: row 3;
            }

            .workWithUs {
                grid-column: 3;
                grid-row: row 3;
            }
    }
}

    // chages to the blog.html page
    .blogHeader {
        background-size: contain;
        height: 50vh;
    }

    .blogContainer {
        padding: 0;
    }
      
    .blogContainer .blogAuthorContainer {
        display: block;
            .blogDetails {
                justify-content: space-between;
            }
    }

    .commentContainer {
        display: block;
    }

    .contactForm {
        input {
            width: 75%;
            padding-top: 30px;
        }
        textarea {
            margin-top: 30px;
        }
    }

    // changes to the footer
    footer::before {
        top: 85%;
    }

    footer .footerContainer {
        display: block;
        text-align: center;
            .contactUs ul {
                justify-content: center;
            }
    }
}

@media (max-width: 768px) {
    // changes to the index.html branding section
    .brandingCircle .brandingContainer {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 5%;
    }

    // changes to the index.html features section
    main .featuresContainer {
        display: block; 
            .box {
                width: 100%;
                margin-bottom: 0;
            }
    }

    // changes to the index.html view portfolio section
    .viewPortfolio {
        display: block;
            .portfolioContainer,
            .viewPortfolioImg {
                width: 100%;
            }

            .portfolioContainer {
                padding: 5%
            }

            .viewPortfolioImg {
                height: 200px;
            }
    }

    // change to the contact.html header
    .contactMain h2 {
        position: static;
            
    }
    .backgroundImg {
                    height: 25vh;
                }
    
    // remove the line above creative agency  
    footer::before {
        display: none;
    }
    
}

@media (max-width: 480px) {
    // change to the index.html header background image
    header.indexHeader {
        height: 80vh;
        background-size: cover;
    }

    // replacing the nav with a burger menu 
    .indexHeader ul,
    .indexNav ul,
    .blogNav ul {
        display: none;
    }

    .fa-bars {
        display: block;
        font-size: 1.5rem;
        position: absolute;
        top: 10px;
    }

    // change to the html.index branding section
    .brandingContainer h2 {
        font-size: 1.1rem;
   
    }

    .brandingCircle .brandingImage::after {
        background-size: 100px 100px;
        height: 100px;
        width: 100px;
    }

    .imageSummary img {
        width: 50%;
    }

    // changes to the index.html features section
    main .features {
        display: block;
            .featuresContainer {
                display: block;
                padding-left: 30px;
                    div:nth-of-type(odd) {
                    display: none;
                }
            }
    }

    // changes to the index.html team section
    .ourTeam.wrapper {
        .teamContainer {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50% 50%;
            gap: 10px;
                .teamPlayers {
                    grid-column: 1;
                    grid-row: row;
                }
                .imgA {
                    grid-column: 1;
                    grid-row: row 2;
                }
                
                .imgB {
                    grid-column: 2;
                    grid-row: row 2;
                }

                .imgC {
                    grid-column: 1;
                    grid-row: row 3;
                }

                .imgD {
                    grid-column: 2;
                    grid-row: row 3;
                }

                .imgE {
                    grid-column: 1;
                    grid-row: row 4;
                }

                .workWithUs {
                    grid-column: 2;
                    grid-row: row 4;
                }               
            }
            .teamPlayers p {
                        display: none;
                    }
    }

    // changes to the contact.html page
    .contactDetails {
        p {
            width: 100%;
        }
        .contactIcons {
            display: block;
            padding-bottom: 0;
                div {
                    margin-bottom: 50px;
                }
        }
    }

    // changes to the blog.html page
    .blogHeader {
        height: 25vh;
    }

    .blogContainer {
        h2 {
            font-size: 1.1rem;
        }
    }

    .postsContainer {
        div:nth-of-type(3) {
            display: none;
        }
    }

    .posts .relatedPost {
            width: calc(50% - 20px);
        }

    .contactMain .contactDetails p {
        width: 100%;
    }
}

@media (max-width: 350px) {
    // chages to the index.html page
    header.indexHeader {
        height: 35vh;    
    }

    .indexBranding {
        &::before {
            height: 50px;
        }
    }

    // changes to the blog.html section
    .blogDetails {
        flex-direction: column;
    }
}