
header nav {
    display: flex;
    justify-content: space-around;
        ul {
            display: flex;
            align-items: center;
                li {
                    margin-left: 20%;
                    i {
                        margin-left: 20px; 
                    } 
                }
            }
        
        h2 {
            margin: 15px 30px;
        }
}

// Styling to have the '2' on top of the shopping bag
    header .fa-shopping-bag {
        position: relative;
    }
    header .fa-shopping-bag::after {
        content: "2";
        height: 15px;
        width: 15px;
        display: block;
        background-color: $lightSage;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 5px;
        text-align: center;
    }

    .home {
        text-decoration: line-through;
    }

    .fa-bars,
    .hamburgerMenuDisplay {
        display: none;
    }

    