
header nav {
    display: flex;
    justify-content: space-around;
        ul {
            display: flex;
            align-items: center;
                li {
                    margin-left: 20%;
                    button {
                        border: none;
                        width: 15px;
                        height: 15px;
                    }

                }
            }
        
        h2 {
            margin: 15px 30px;
        }
}

// Styling to have the '2' on top of the shopping bag
    header .fa-shopping-bag {
        position: relative;
    }
    header .fa-shopping-bag::after {
        content: "2";
        height: 15px;
        width: 15px;
        display: block;
        background-color: $lightSage;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 5px;
        text-align: center;
    }

    .home {
        text-decoration: line-through;
    }


.mobileNavContainer {
    position: relative;
        button {
            display: none;
            font-size: 1.5rem;
            position: absolute;
            top: -40px;
            right: -10px;
            border: none;
            z-index: 300;
            background-color: $lightSage;
        }
}

.mobileNav {
    transition: top 0.5s ease;
    background: $whiteTwo;
    cursor: pointer;
    height: 100vh;
    top: -1000px;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 20;


}

.mobileNav.expanded {
    top: 0;
        ul {
            display: block;
            position: absolute;
            top: 10%;
                li {
                    padding: 10px 0;
                }
        }
}
    