@import "_setup";
@import "_functions";
@import "_nav";
@import "_footer";
@import "_blog";


// * {
//     margin: 0;
//     padding: 0;
// }

// Typography

html {
    @include fontSize ($font, 125%, 400)
}

h1,
h2,
h3,
a {
    text-transform: uppercase;
}

h1 {
    font-size: 1.85rem;
    font-weight: 700;
    letter-spacing: 0.9px;
}

h2 {
    font-size: 0.9rem;
    line-height: 24px;
    letter-spacing: 1.8px;
}

button, 
nav {
   font-size: 0.7rem;
   line-height: 24px;
   letter-spacing: 0.7px; 
}

body {
    @include fontSize ($bodyFont, 0.9rem, 400);
}

// General Styles

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $black;
}

// Header Styling

.indexHeader {
    background-image: url(../../assets/home-1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.indexNav nav {
    display: flex;
    justify-content: space-around;
        ul {
            display: flex;
            align-items: center;
        }
        li {
           margin-left: 30px; 
        }
        i {
           margin-left: 20px; 
        }
        h2 {
            margin: 15px 30px;
        }
}

nav li:first-of-type a {
    text-decoration: line-through;
}

// Branding Section Styling

.indexBranding {
    background-color: $lightSage;
}

.brandingContainer {
    width: calc(50% - 30px);
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding-bottom: 50px;
}

.brandingImage {
    width: 75%;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
        img {
            width: 100%;
        }

        &::after {
            content: "";
            background-image: url(../../assets/home-circle-text.png);
            background-size: 150px 150px;
            height: 150px;
            width: 150px;
            z-index: 1;
            position: absolute;
            top: 50px;
            left: -50px;
        }
    }
        


    
// Third Section Styling

.thirdSection {
    text-align: center;
        div {
            display: flex;
            justify-content: space-between;
            margin: 10% auto 5% auto;
        }
        img {
            border-radius: 50%;
        }
        span {
            margin-top: 10%;
        }

}

// Features Section

.features {
    background-image: url(../../assets/home-4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

// Team Section

.ourTeam.wrapper {
    margin: 100px auto;
        h2 {
            text-align: center;
        }
}

.teamContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 10px;
    margin-bottom: 50px;
}

.teamPlayers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 1 / span 2;
    grid-row: row;
    background-color: $whiteTwo;
    padding-left: 20px;
        h4 {
            text-transform: uppercase;
        }
}


.imgA {
    grid-column: 3 / span 1;
    grid-row: row;
}

.imgB {
 grid-column: 4 / span 1;
 grid-row: row;
}

.imgC {
    grid-column: 1 / span 1;
    grid-row: row 2;
}

.imgD {
    grid-column: 2 / span 1;
    grid-row: row 2;
}

.imgE {
    grid-column: 3 / span 1;
    grid-row: row 2;
}

.workWithUs {
    text-align: center;
    align-items: center;
    grid-column: 4 / span 1;
    grid-row: row 2;
        p {
            text-transform: uppercase;
            padding-top: 25%;
        }
        span {
            display: block;
        }
}

.viewPortfolio {
    display: flex;
}

.portfolioContainer {
    background-color: $lightSage;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    padding: 0 80px;
}

.viewPortfolioImg {
    width: 50%;
}



