@import "_setup";
@import "_functions";
@import "_index";
@import "_nav";
@import "_footer";
@import "_blog";
@import "_form";
@import "_contact";
@import "_media";


// Typography

html {
    @include fontSize ($font, 125%, 400)
}

h1,
h2,
h3,
a {
    text-transform: uppercase;
}

h2 {
    font-size: 1.85rem;
    font-weight: 700;
    letter-spacing: 0.9px;
}

// Please see comment above body re: font size. As I chose a larger font size for the body (accessibility) I chose a larger size for the header fonts to keep a size difference between the two.
h1, h3 {
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: 1.8px;
}

h3 {
    font-size: 1rem;
}

button, 
nav {
   font-size: 0.7rem;
   line-height: 24px;
   letter-spacing: 0.7px; 
}
// The style sheet suggested a font size of 14px; however, with accessibility in mind, I chose a higher font size 
body {
    @include fontSize ($bodyFont, 0.9rem, 400);
    line-height: 24px;
    letter-spacing: 0.7px;
}

// General Styles

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $black;
    transition: background 0.3s;
        &:hover,
        &:focus {
            background-color: $lightSage;
        }
        
}

input,
textarea {
    border: none;
}

