html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.indexHeader {
  background-image: url(../../assets/home-1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.indexHeader::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: grey;
  position: absolute;
  left: 50%;
  top: 90%;
}

.indexBranding {
  background-color: #c3dab7;
  padding-top: 15%;
  position: relative;
}
.indexBranding::before {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: grey;
  position: absolute;
  left: 50%;
  top: 0;
}
.indexBranding .brandingImage {
  width: 75%;
  margin: 0 auto;
  position: relative;
}
.indexBranding .brandingImage img {
  width: 100%;
}
.indexBranding .brandingImage::after {
  content: "";
  background-image: url(../../assets/home-circle-text.png);
  background-size: 150px 150px;
  height: 150px;
  width: 150px;
  z-index: 1;
  position: absolute;
  top: -50px;
  left: -50px;
}
.indexBranding .brandingContainer {
  width: calc(50% - 30px);
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding-bottom: 10%;
}

.imageSummary {
  text-align: center;
}
.imageSummary div {
  display: flex;
  justify-content: space-between;
  margin: 10% auto 5% auto;
  transform: background 0.3s;
}
.imageSummary div i {
  margin-top: 20%;
  height: 25px;
  width: 25px;
}
.imageSummary div i:hover, .imageSummary div i:focus {
  background-color: #c3dab7;
}
.imageSummary div img {
  border-radius: 50%;
}
.imageSummary p {
  padding-bottom: 10%;
}

.features {
  background-image: url(../../assets/home-4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.features::before {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: grey;
  position: absolute;
  left: 50%;
  top: 100%;
}
.features .featuresContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50%;
  padding: 5% 0;
}
.features .box {
  width: 50%;
  margin-bottom: 10%;
  padding-right: 10%;
  position: relative;
  flex: 1 0 auto;
}
.features .box i {
  position: absolute;
  top: 0;
  left: -60px;
  width: 55px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 15px;
  font-size: 1.5rem;
}
.features .boxE,
.features .boxF {
  margin-bottom: 0;
}

.ourTeam.wrapper {
  margin: 0px auto;
  padding: 10% 0;
}
.ourTeam.wrapper h2 {
  text-align: center;
}
.ourTeam.wrapper .teamContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  gap: 10px;
}
.ourTeam.wrapper .teamPlayers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column: 1/span 2;
  grid-row: row;
  background-color: #f6f6f6;
  padding-left: 5%;
}
.ourTeam.wrapper .imgA {
  grid-column: 3/span 1;
  grid-row: row;
}
.ourTeam.wrapper .imgB {
  grid-column: 4/span 1;
  grid-row: row;
}
.ourTeam.wrapper .imgC {
  grid-column: 1/span 1;
  grid-row: row 2;
}
.ourTeam.wrapper .imgD {
  grid-column: 2/span 1;
  grid-row: row 2;
}
.ourTeam.wrapper .imgE {
  grid-column: 3/span 1;
  grid-row: row 2;
}
.ourTeam.wrapper .workWithUs {
  text-align: center;
  grid-column: 4/span 1;
  grid-row: row 2;
}
.ourTeam.wrapper .workWithUs p {
  text-transform: uppercase;
  padding-top: 25%;
}
.ourTeam.wrapper .workWithUs span {
  display: block;
}

.viewPortfolio {
  display: flex;
}
.viewPortfolio .portfolioContainer {
  background-color: #c3dab7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
  padding: 0 5%;
  transform: color 0.3s;
}
.viewPortfolio .portfolioContainer button {
  background-color: #f6f6f6;
  margin: 0 auto;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}
.viewPortfolio .portfolioContainer button:hover, .viewPortfolio .portfolioContainer button:focus {
  cursor: pointer;
}
.viewPortfolio .viewPortfolioImg {
  width: 50%;
}

header nav {
  display: flex;
  justify-content: space-around;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  margin-left: 20%;
}
header nav ul li i {
  margin-left: 20px;
}
header nav h2 {
  margin: 15px 30px;
}

.home {
  text-decoration: line-through;
}

.fa-bars {
  display: none;
}

footer {
  background-color: #333;
  color: #fff;
  position: relative;
}
footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 70%;
  height: 1px;
  width: 100%;
  background-color: #f6f6f6;
}
footer .footerContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}
footer > h3 {
  padding: 10% 0 10% 0;
  text-align: center;
}
footer .contactUs,
footer .recentPosts,
footer .twitterWidget {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
footer .contactUs p {
  margin: 0;
}
footer .contactUs ul {
  display: flex;
  margin-top: 20px;
}
footer .contactUs ul li {
  padding-right: 20px;
}
footer .recentPosts ul {
  list-style: disc;
  transition: color 0.3s;
}
footer .recentPosts a {
  color: #fff;
  text-transform: none;
}
footer .recentPosts a:hover, footer .recentPosts a:focus {
  color: #333;
}
footer .twitterWidget input[type=email] {
  padding: 10px 20px;
  border: none;
}
footer .twitterWidget ::-moz-placeholder {
  color: grey;
}
footer .twitterWidget :-ms-input-placeholder {
  color: grey;
}
footer .twitterWidget ::placeholder {
  color: grey;
}
footer .twitterWidget button {
  background-color: #c3dab7;
  border: none;
  padding: 10px 10px 8px;
}

.blogHeader {
  background-image: url(../../assets/blog-1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.blogContainer {
  padding-top: 5%;
}
.blogContainer > p {
  text-transform: uppercase;
}
.blogContainer > p em {
  font-style: normal;
  font-weight: bold;
}
.blogContainer .blogAuthorContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}
.blogContainer .blogAuthorContainer .blogAuthor {
  display: flex;
}
.blogContainer .blogAuthorContainer img {
  border-radius: 50%;
}
.blogContainer .blogAuthorContainer p {
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.blogContainer .blogAuthorContainer span {
  display: block;
  text-transform: none;
  font-weight: normal;
}
.blogContainer .blogDetails {
  display: flex;
}
.blogContainer .blogPost {
  text-align: justify;
}
.blogContainer .blogPost em {
  font-style: normal;
  font-weight: bold;
}

.socialContainer {
  display: flex;
}
.socialContainer h4 {
  text-transform: uppercase;
}
.socialContainer .socialMedia {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.socialContainer .socialMedia li {
  transition: background 0.3s;
}
.socialContainer .socialMedia li i:hover,
.socialContainer .socialMedia li i:focus {
  background-color: #c3dab7;
  padding: 5px;
}

.posts h3 {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}
.posts .postsContainer {
  display: flex;
  justify-content: space-between;
}
.posts .relatedPost {
  display: flex;
  flex-direction: column;
  width: calc(33% - 30px);
}

.commentContainer {
  display: flex;
  margin-bottom: 20px;
}
.commentContainer img {
  height: 75%;
}
.commentContainer .comment {
  width: 100%;
  margin-left: 3%;
  background-color: #f6f6f6;
  position: relative;
}
.commentContainer .comment p {
  padding-left: 20px;
}
.commentContainer .comment p:nth-child(2) {
  text-transform: uppercase;
  font-weight: bold;
}
.commentContainer .comment p:nth-child(2) span {
  font-style: italic;
  font-weight: normal;
}
.commentContainer .comment i {
  position: absolute;
  color: #f6f6f6;
  top: 5px;
  left: -6px;
}

.leaveComment h3 {
  padding-top: 50px;
  border-bottom: 1px solid grey;
}

.contactForm {
  padding-bottom: 20px;
}
.contactForm input {
  border-bottom: 1px solid grey;
  width: calc(33% - 10px);
  padding-top: 30px;
}
.contactForm input:nth-of-type(1),
.contactForm input:nth-of-type(2) {
  margin-right: 15px;
}
.contactForm textarea {
  resize: none;
  width: 100%;
  border-bottom: 1px solid grey;
  margin-top: 20px;
}
.contactForm button {
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid grey;
  padding-top: 20px;
  transition: background 0.3s;
}
.contactForm button:hover, .contactForm button:focus {
  background-color: #c3dab7;
}

.contactUsHeading {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height: 20vh;
  background-image: url(./../../assets/contact-1.jpeg);
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.contactMain {
  position: relative;
}
.contactMain h2 {
  position: absolute;
  top: -5%;
  left: 20%;
}
.contactMain h2 span {
  display: block;
}
.contactMain .contactDetails {
  padding-top: 5%;
}
.contactMain .contactDetails p {
  width: 50%;
}
.contactMain .contactIcons {
  display: flex;
  justify-content: space-around;
  padding: 5% 0;
}
.contactMain .contactIcons i {
  font-size: 1.5rem;
}
.contactMain .contactIcons p {
  width: 100%;
  margin: 5px 0;
}

.backgroundImg {
  background-image: url(../../assets/contact-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

@media (max-width: 1350px) {
  .features {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../../assets/home-4.jpeg);
  }
}
@media (max-width: 1100px) {
  .features .featuresContainer {
    margin-left: 20%;
  }
}
@media (max-width: 940px) {
  .indexHeader ul,
.indexNav ul,
.blogNav ul {
    display: block;
  }

  .icon {
    display: inline-block;
    margin-left: 10px;
  }
}
@media (max-width: 900px) {
  .ourTeam .teamContainer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .ourTeam .teamContainer .teamPlayers {
    grid-column: 1/span 3;
    grid-row: row;
  }
  .ourTeam .teamContainer .imgA {
    grid-column: 1/span 1;
    grid-row: row 2;
  }
  .ourTeam .teamContainer .imgB {
    grid-column: 2/span 1;
    grid-row: row 2;
  }
  .ourTeam .teamContainer .imgC {
    grid-column: 3/span 1;
    grid-row: row 2;
  }
  .ourTeam .teamContainer .imgD {
    grid-column: 1/span 1;
    grid-row: row 3;
  }
  .ourTeam .teamContainer .imgE {
    grid-column: 2/span 1;
    grid-row: row 3;
  }
  .ourTeam .teamContainer .workWithUs {
    grid-column: 3/span 1;
    grid-row: row 3;
  }

  .blogHeader {
    background-size: contain;
    height: 50vh;
  }

  .blogContainer {
    padding: 0;
  }

  .blogContainer .blogAuthorContainer {
    display: block;
  }
  .blogContainer .blogAuthorContainer .blogDetails {
    justify-content: space-between;
  }

  .commentContainer {
    display: block;
  }

  .contactForm input {
    width: 75%;
    padding-top: 30px;
  }
  .contactForm textarea {
    margin-top: 30px;
  }

  footer::before {
    top: 80%;
  }

  footer .footerContainer {
    display: block;
    text-align: center;
  }
  footer .footerContainer .contactUs ul {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .brandingCircle .brandingContainer {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5%;
  }

  main .featuresContainer {
    display: block;
  }
  main .featuresContainer .box {
    width: 100%;
    margin-bottom: 0;
  }

  .viewPortfolio {
    display: block;
  }
  .viewPortfolio .portfolioContainer,
.viewPortfolio .viewPortfolioImg {
    width: 100%;
  }
  .viewPortfolio .portfolioContainer {
    padding: 5%;
  }
  .viewPortfolio .viewPortfolioImg {
    height: 200px;
  }

  .contactMain h2 {
    position: static;
  }

  .backgroundImg {
    height: 25vh;
  }
}
@media (max-width: 480px) {
  header.indexHeader {
    height: 80vh;
    background-size: cover;
  }

  .indexHeader ul,
.indexNav ul,
.blogNav ul {
    display: none;
  }

  .fa-bars {
    display: block;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
  }

  .brandingContainer h2 {
    font-size: 1.1rem;
  }

  .brandingCircle .brandingImage::after {
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
  }

  .imageSummary img {
    width: 50%;
  }

  main .features {
    display: block;
  }
  main .features .featuresContainer {
    display: block;
    padding-left: 30px;
  }
  main .features .featuresContainer div:nth-of-type(odd) {
    display: none;
  }

  .ourTeam.wrapper .teamContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 10px;
  }
  .ourTeam.wrapper .teamContainer .teamPlayers {
    grid-column: 1/span 2;
    grid-row: row;
  }
  .ourTeam.wrapper .teamContainer .imgA {
    grid-column: 1/span 1;
    grid-row: row 2;
  }
  .ourTeam.wrapper .teamContainer .imgB {
    grid-column: 2/span 1;
    grid-row: row 2;
  }
  .ourTeam.wrapper .teamContainer .imgC {
    grid-column: 1/span 1;
    grid-row: row 3;
  }
  .ourTeam.wrapper .teamContainer .imgD {
    grid-column: 2/span 1;
    grid-row: row 3;
  }
  .ourTeam.wrapper .teamContainer .imgE {
    grid-column: 1/span 1;
    grid-row: row 4;
  }
  .ourTeam.wrapper .teamContainer .workWithUs {
    grid-column: 2/span 1;
    grid-row: row 4;
  }
  .ourTeam.wrapper .teamPlayers p {
    display: none;
  }

  .contactDetails p {
    width: 100%;
  }
  .contactDetails .contactIcons {
    display: block;
    padding-bottom: 0;
  }
  .contactDetails .contactIcons div {
    margin-bottom: 50px;
  }

  .blogHeader {
    height: 25vh;
  }

  .blogContainer h2 {
    font-size: 1.1rem;
  }

  .postsContainer div:nth-of-type(3) {
    display: none;
  }

  .posts .relatedPost {
    width: calc(50% - 20px);
  }

  .contactMain .contactDetails p {
    width: 100%;
  }
}
@media (max-width: 350px) {
  header.indexHeader {
    height: 35vh;
  }

  .indexBranding::before {
    height: 50px;
  }

  .blogDetails {
    flex-direction: column;
  }
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 125%;
  font-weight: 400;
  color: #333;
}

h1,
h2,
h3,
a {
  text-transform: uppercase;
}

h2 {
  font-size: 1.85rem;
  font-weight: 700;
  letter-spacing: 0.9px;
}

h1, h3 {
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 1.8px;
}

h3 {
  font-size: 1rem;
}

button,
nav {
  font-size: 0.7rem;
  line-height: 24px;
  letter-spacing: 0.7px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
  line-height: 24px;
  letter-spacing: 0.7px;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
  transition: background 0.3s;
}
a:hover, a:focus {
  background-color: #c3dab7;
}

input,
textarea {
  border: none;
}/*# sourceMappingURL=styles.css.map */